# ------------------------------------ Assets ----------------------------------- #
node_modules/
jsconfig.json

# ------------------------------------- Next ------------------------------------ #
next.config.js
next.export.config.js

